.btn {
  background: none;
  border: none;
  margin-right: 10px;
  padding: 5px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  opacity: 0.5;
}

.btn:hover {
  opacity: 1;
}

.btn.active {
  font-weight: bold;
  opacity: 1;
}

.texts {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  opacity: 0.5;
}
