.cube-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scene {
  width: 500px; /* Larger than original */
  height: 500px; /* Larger than original */
  perspective: 1400px; /* Adjusted for a larger cube */
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-250px); /* Adjusted for a larger cube */
  transition: transform 1s;
}

.cube__face {
  position: absolute;
  width: 500px; /* Larger than original */
  height: 500px; /* Larger than original */
  border: 1px solid #ccc;
  /* line-height: 500px; */
  text-align: center;
  font-size: 6.25em; /* Adjusted for a larger cube */
  /* backface-visibility: hidden; */
}

/* Positioning each face of the cube */
.cube__face--front {
  transform: rotateY(0deg) translateZ(250px);
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(250px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(250px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(250px);
}
.cube__face--top {
  font-size: 5.25em;
  transform: rotateX(90deg) translateZ(250px);
}
.cube__face--bottom {
  font-size: 5.25em;
  transform: rotateX(-90deg) translateZ(250px);
}

/* Styles for rotating cube to show specific face */
.cube.show-front {
  transform: translateZ(-250px) rotateY(0deg);
}
.cube.show-back {
  transform: translateZ(-250px) rotateY(-180deg);
}
.cube.show-right {
  transform: translateZ(-250px) rotateY(-90deg);
}
.cube.show-left {
  transform: translateZ(-250px) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(-250px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-250px) rotateX(90deg);
}

/* Styles for buttons (optional) */
.cube-controls {
  margin-top: 5%;
  margin-bottom: 20px;
}

.cube-controls button {
  background: none;
  border: none;
  margin-right: 10px;
  padding: 5px 12px;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  opacity: 0.5;
}

.cube-controls button:hover {
  opacity: 1;
}

.cube-controls button.active {
  font-weight: bold;
  opacity: 1;
}

.cube__face .face-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 10px; /* Adjust padding as needed */
}

.cube__face .title {
  font-size: 70px; /* Adjust font size as needed */
  font-weight: bold;
  margin-bottom: 10px; /* Spacing between title and description */
}

.cube__face .description {
  font-size: 16px; /* Adjust font size as needed */
  max-width: 80%; /* Ensures text doesn't go edge to edge */
  opacity: 0.5;
}
